Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*  ----------> Expression

'hello'  ----> value

-87.8 -------> value

-   ---------> expression

/  ----------> expression

+  ----------> expression

6  ----------> value

---------------------------------------------------------------------------------------------------------------------------

In [ ]:
Q2. What is the difference between string and variable?
String :1. A string is the sequence of characters interpreted inside the single or double quotes.
        2. Strings are immutables.
        
Variable : 1. A variable basically is the name of the location in the primary memory of the computer.
           2. It can store eveything from strings to numbers.
           3. A variable can store string but string can't.

---------------------------------------------------------------------------------------------------------------------------

In [7]:
# Q3. Describe three different data types.

# 1. int data type - It can contains positive or negative whole numbers (wiyhout fraction or decimal). 
# eg.

print(type(4565))


# 2. str data type - String data type, a string is a collection of one or more characters put inside single or double quotes.
# eg.

print(type("hello sir"))

# 3. complex data type - It is specified as (real part) + (imaginary part).
# eg. 

print(type(5+6j))

<class 'int'>
<class 'str'>
<class 'complex'>

---------------------------------------------------------------------------------------------------------------------------

Q4. What is an expression made up of ? What do all expressions do?

An expression is a combination of mathematical operators and operands that is interpreted to produce some other value.

An expressions are used to evaluate the values.
eg.  a = 2 + 3

---------------------------------------------------------------------------------------------------------------------------

Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression is a combination of mathematical operators and operands and
the statement is just like command that perform some action.

---------------------------------------------------------------------------------------------------------------------------

In [19]:
# Q6. After running the following code, what does the variable bacon contain?

bacon = 22
bacon + 1

23

In [ ]:
---------------------------------------------------------------------------------------------------------------------------

Q7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [21]:
'spam' + 'spamspam'

'spamspamspam'

In [22]:
'spam' * 3

'spamspamspam'

---------------------------------------------------------------------------------------------------------------------------

Q8. Why is eggs a valid variable name while 100 is invalid?

egg is a valid variable name while 100 in invalid because we cannot start a variable name with an integer.
but we can begin the variable name with a string like alphabet, underscore.

---------------------------------------------------------------------------------------------------------------------------

Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

For integer , we use ----> str()
For floating point number, we use ----> float()
For string version of a value, we use ----> str()

---------------------------------------------------------------------------------------------------------------------------

In [23]:
Q10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos'

TypeError: can only concatenate str (not "int") to str

Because 99 is an integer and it can't concatenated with strings.
so we have to convert interger data type into a string data type by doing typecasting.

In [24]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'

---------------------------------------------------------------------------------------------------------------------------